<div *ngIf="user">
  <h2>{{user.name | uppercase}} Details</h2>
  <div><span>id: </span>{{user.id}}</div>
  <div>
    <div>
      <label for="user-name">Nome: </label>
      <input id="user-name" [(ngModel)]="user.name" placeholder="User name" />
    </div>
    <div>
      <label for="user-age">Idade: </label>
      <input id="user-age" [(ngModel)]="user.age" placeholder="User age" />
    </div>
    <div>
      <label for="user-address">Endereço: </label>
      <input id="user-address" [(ngModel)]="user.address" placeholder="User address" />
    </div>
    <div>
      <label for="user-cpf">CPF: </label>
      <input id="user-cpf" [(ngModel)]="user.cpf" placeholder="User cpf" />
    </div>
    <button type="button" (click)="goBack()">go back</button>
    <button type="button" (click)="save()">save</button>
  </div>
